* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Space Grotesk';

  scrollbar-width: thin;
  scrollbar-color: $c1 $c2;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #01101a;
}

*::-webkit-scrollbar-thumb {
  background-color: $c2;
  border-radius: 18px;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  background: transparent;
  cursor: pointer;
}

.mob {
  display: none;
}

.web {
  display: block;
}

@media (max-width: 960px) {
  .mob {
    display: block;
  }

  .web {
    display: none;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}

@font-face {
  font-family: 'Galgony';
  src: url(../fonts/Galgony.ttf);
}